/.vscode
package.json
pnpm-lock.yaml
README.md
.gitignore
.prettierrc
.eslintrc.cjs
tsconfig.json
*.json
*.lock
*.log
*.tgz
*.html
/dist
/node_modules
postcss.config.js
vite.config.js
tailwind.config.js
vite.config.ts
src/vite-env.d.ts